.hourly-forecast {
    & {
        width: 340px;

        display: flex;
        gap: 10px;

        overflow-x: scroll;

        margin: 0;
        list-style-type: none;

        padding: 5px 2px 15px 2px;

        position: absolute;
    }

    &.empty {
        overflow-x: unset;
    }

    &.empty > li {
        position: relative;
        color: #ffffff;
    }

    &.empty > li > img {
        position: absolute !important;
        right: 0 !important;
        left: -60px;
        z-index: 0;
    }

    &.empty > li > span {
        width: 200px;

        font-size: 20px;
        font-weight: 500;

        position: absolute;
        top: 250px;
        left: 70px;

        color: rgba(pink, 1);
    }

    &.fullfield {
        bottom: 60px;
    }
}
